:root {
  --color-main: #FFBD88;  // макароны и сыр
  --color-main-background: #F2DDC6;
  --color-sub-background: #ffdab6;
  --color-text: #000;

  --color-table-background: #fcdabd;
  --color-table-border: #FFBD88;

}